:root {

  --gridGap: 40px;
  --col: calc((1104px - (11 * var(--gridGap))) / 12);
  --mainGrid: minmax(0px, 1fr) repeat(12, minmax(auto, var(--col))) minmax(0px, 1fr);

  --SegoeUI: 'Segoe UI', 'Open Sans', sans-serif;
}