:root {
  --lightgray: #F3F4F6;
  --lightgray2: #EDEEF2;
  --blue: #125575;
  --gray: #8990AA;

  --gridGapHoriz: 40px;
  --gridGap: 0 var(--gridGapHoriz);
  // --col: calc((var(--container) - (11 * var(--gridGapHoriz))) / 12);
  // --mainGrid: minmax(0px, 1fr) repeat(12, minmax(0, var(--col))) minmax(0px, 1fr);
  --mainGrid: 
    [full-start] minmax(15px, 1fr) 
    [container-start] minmax(0, var(--container)) [container-end]
    minmax(15px, 1fr) [full-end];
  --SegoeUI: 'Segoe UI', 'Open Sans', sans-serif;

  --container: 1170px;
  @media (max-width: 1199px) {
    --container: 970px;
  }
  @media (max-width: 991px) {
    --container: 750px;
    --gridGapHoriz: 10px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.571;
  font-family: var(--SegoeUI);
  color: var(--gray);
}

main {
  min-height: calc(100vh - 300px);
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-inline-start: 1.2em;
}

a {
  text-decoration: none;
}

h2, h3, h4 {
  color: var(--blue);
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu-burger {
  span,
  span:before,
  span:after {
    height: 2px;
    border-radius: 2px;
  }
}